/* ! Work on the scroll buttons LAST */
/* TODO Animate text */
/* TODO Media query to remove scroll arrows when on mobile */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; /* scroll snapping */
}

/* remove scroll bars */
html::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

section {
    font-family: 'DM Sans', sans-serif;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    text-decoration: none;  /* This removes the blue hyperlink colour after a link has been clicked */
    scroll-snap-align: start; /* scroll snapping */
}

p {
    padding: 30px;
    font-size: 20px;
    width: 100%;
}

.emoji {
    font-size: 65px;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.fab {
    padding-top: 30px;
    padding-left: 15px;
}

/* old code */
/* #demo {
    height: 50vh;
    width: 50vw;
    scroll-snap-align: start;
    text-align: center;
} */

#demo video {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

figcaption {
    padding: 10px;
}

/* Scroll Arrows */
/* .arrow-down {
    position: absolute;
    width:100%;
    padding-bottom: 20px;
}

.arrow-up {
    position: absolute;
    top:100%;
    width:100%;
    padding-top: 20px;
}

/* Arrow down positioning */
.arrow-down:nth-of-type(1) {
    bottom: 0%;
}

.arrow-down:nth-of-type(2) {
    bottom:-100%;
} */

/* Arrow hover effect */
.fas:hover {
    opacity: 0.5;
}

/* Arrow animation */
.fa-arrow-down {
    animation: down 2s infinite;
}

@keyframes down {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(0, -10px);
    }
    40% {
      transform: translate(0, 0);
    }
  }

.fa-arrow-up {
    animation: down 2s infinite;
}

@keyframes up {
    0% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(0, 10px);
    }
    40% {
      transform: translate(0, 0);
    }
  }

/* prefers-color-scheme media query */
/* LIGHT MODE */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fdfcfa;
        color: #000000;
    }

    code {
        color: #21b439;
    }

    h1 {
        color: #21b439;
    }

    h3 {
        color: #51a2d8;
    }

    .fab {
        color: #000000;
    }

    .fas {
        color: #000000;
    }
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    body {
        background-color:#000000; /* old colour: #1A1110; */
        color: white;
    }

    code {
        color: #ffa801;
    }

    h1 {
        color: #ffa801;
    }

    h3 {
        color: #d2dae2;
    }

    .fab {
        color: #ffffff;
    }

    .fas {
        color: #ffffff;
    }
}